.container {
    padding: 50px;
}

.timelines {
    position: relative;
    margin-top: 50px;
    /* padding-left: 20px; */
    overflow: scroll;
}

.timeline-track {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}

.timeline-block-content-completing {
    border-right: 2px solid red;
}

.timeline-block {
    padding-right: 10px;
}
.timeline-block-content {
    height: 50px;
    background-color: rgb(31, 212, 113);
}

.timeline-playhead {
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;

}

.timeline-playhead-slider {
    height: 92%;
    box-sizing: border-box;
    background: inherit;

}

input[type=range]::-moz-range-track {
    height: 100%;
    width: 100%;
    background: inherit;
}
/* input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    border:1px solid #ddd;
    margin-top: -4px;
} */

.timeline-playhead-needle {
    height: 100%;
    width: 3px;
    background-color: red;
}

.timeline-playhead-needle-draggable {
    position: relative;
    left: -9px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red;
    clear: both;
}

.timeline-playhead-running {
    animation: playhead-running 250ms linear infinite 0s  normal;
}

@keyframes playhead-running {
    0% {
        padding-left: 0px;
    }
    100% {
        padding-left: 50px;
    }
}
