.container {
    padding: 50px;
}

.timelines {
    position: relative;
    /* padding-left: 20px; */
    overflow: scroll;
    border: 3px solid #ccc;
}

.timeline-track {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}
.timelines-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.timeline-statuses {
    overflow: none;
    display: flex;
    flex-direction: column;
}

.timeline-status {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;

    min-width: 200px;
    background-color: white;
    /* border-right: 5px solid #aaa; */
}

.timeline-block-content-completing {
    border-right: 4px solid #e33 !important;
}

.timeline-block {
    padding-right: 10px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.timeline-block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    font-size: 1.5em;
    box-shadow: 8px 8px 15px -16px rgba(66, 68, 90, 1);
}

.timeline-playhead {
    position: absolute;
    height: 25px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    z-index: 1;
}

.timeline-playhead-slider {
    height: 92%;
    box-sizing: border-box;
    background: inherit;
    z-index: 99;
}

input[type="range"]::-moz-range-track {
    height: 100%;
    width: 100%;
    background: inherit;
    pointer-events: none;
}
input[type="range"]::-moz-range-thumb {
    position: relative;
    border: none;
    height: 750px;
    width: 4px;
    border-radius: 0%;
    background: red;
    border: 1px solid rgb(207, 18, 18);
    margin-top: -4px;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    background: inherit;
}
input[type="range"]::-webkit-slider-thumb {
    border: none;
    height: 750px;
    width: 4px;
    border-radius: 0%;
    background: red;
    border: 1px solid rgb(207, 18, 18);
    margin-top: -4px;
}

.timeline-playhead-needle {
    height: 100%;
    width: 3px;
    background-color: red;
}

.timeline-playhead-needle-draggable {
    position: relative;
    left: -9px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red;
    clear: both;
}

.timeline-playhead-running {
    animation: playhead-running 250ms linear infinite 0s normal;
}

@keyframes playhead-running {
    0% {
        padding-left: 0px;
    }
    100% {
        padding-left: 50px;
    }
}

.timeline-changes {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    height: 30px;
    width: 100%;
    z-index: 100;
}
.timeline-change {
    display: flex;
    flex-direction: row;
}

.timeline-change-tick {
    height: 100%;
    width: 6px;
    min-width: 6px;
    background-color: rgb(0, 155, 0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
